<!-- <div class="container">
    <div class="row">
        <div class="col">
            {{#each players}}
            <h1>{{firstName}} {{lastName}}</h1>
            <p>Reach me at: {{email}} or {{phone}}</p>
            <button class="btn btn-danger delete-player" data-id="{{id}}">Delete</button>
            <a href="/players/{{id}}/edit"><button class="btn btn-secondary">Edit</button></a>
            {{/each}}
        </div>
    </div>
</div>

<script>
    $(document).ready(function () {
        $(".delete-player").on("click", function () {
            const id = $(this).data("id");
            $.ajax({
                method: "DELETE",
                url: `/api/players/${id}`
            }).then(response => {
                window.location.reload();
            })
        })
    })
</script> -->

<nav class="navbar" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
    <a class="navbar-item">
      <img src="https://webstockreview.net/images/track-clipart.jpg" width="" height="" />
      <strong>Track Finder</strong>
    </a>

    <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>
  </div>

  <div id="navbarBasicExample" class="navbar-menu">
    <div class="navbar-start">
      <a class="navbar-item">
        Home
      </a>

      <a class="navbar-item">
        Add a Track
      </a>
      <a class="navbar-item">
        Update a Track
      </a>
    </div>

    <div class="navbar-end">
      <div class="navbar-item">
        <div class="navbar-item has-dropdown is-hoverable">
          <a class="navbar-link">
            More
          </a>

          <div class="navbar-dropdown">
            <a class="navbar-item" href="https://www.runnersworld.com/">
              Runners World
            </a>
            <a class="navbar-item" href="https://mckirdytrained.com/">
              McKirdyTrained
            </a>
            <a class="navbar-item" href="https://www.mcmillanrunning.com/">
              McMillan Running Calculator
            </a>
            <a class="navbar-item" href="https://runsmartproject.com/calculator/">
              Jack Daniels' VDOT
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</nav>
<h1>All Tracks</h1>
<span class="tag is-info is-light is-large"><strong>Marietta, GA</strong></span>
<br>
<br>
<table class="center table is-bordered is-hoverable">
  <thead>
    <tr>
      <th>ID</th>
      <th>Track Name</th>
      <th>Track Type</th>
      <th>Street Address</th>
      <th>City</th>
      <th>Availability</th>
      <th>Action</th>
    </tr>
  </thead>
  <tbody>
    {{#each tracks}}
    <tr>
      <td>{{id}}</td>
      <td>{{name}}</td>
      <td>{{trackType}}</td>
      <td>{{address}}</td>
      <td>{{city}}</td>
      <td>{{details}}</td>
      <td><a href="/tracks/{{id}}/edit"><button class="button is-primary is-light update-track">Update</button></a>
        <button class="button is-danger is-light delete-track" data-id="{{id}}">Delete</button></td>
    </tr>
    {{/each}}
  </tbody>
</table>
<img src="../assets/images/track-bottom-image.png" alt="track image" id="bottom-image" width="600px">