{{> navbar}}
<section class="hero is-dark is-gradient">
    <div class="hero-body" id="header-add-track">
        <div class="container">
            <h1 class="title is-1">Single Track View</h1>
            <h2 class="subtitle">
                Is this your favorite track?
            </h2>
        </div>
    </div>
</section>
<div class="container">
    <br>
    <div class="columns">
        <div class="column is-one-thirds">
            <div class="column">
                <ul class="border">{{trackName}}</ul>
                <ul class="border">{{trackType}} <button class="is-large" id="track-type"><i
                            class="fas fa-edit"></i></button></ul>
                <ul class="border">{{address}}{{city}}{{state}}{{zipCode}}</ul>
                <ul class="border">Availability<button class="is-large" id="track-type"><i
                            class="fas fa-edit"></i></button></ul>
            </div>
            <div class="columns">
                <div class="column">
                    <div class="update-track-div">
                        <button class="button is-medium"><i class="fas fa-edit"></i></button>
                        <br>
                        <br>
                        <h3>Update Track</h3>
                    </div>
                </div>
                <div class="column">
                    <div class="delete-track-div">
                        <button class="button is-medium"><i class="fas fa-trash"></i></button>
                        <br>
                        <br>
                        <h3>Delete Track</h3>
                    </div>
                </div>
            </div>
        </div>
        <div class="column is-two-thirds">
            <div class="column">Track map goes here</div>
        </div>
    </div>
    <footer>
        <ul>© Bambo Adeshiyan, Claude Hyppolite, Justin Sykes, Beth Presten</ul>
        <ul>Georgia Tech Bootcamp, Class of 2021</ul>
    </footer>
    <script src="../public/assets/js/index.js"></script>
    <script src="../public/assets/js/new-track.js"></script>